* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Dhurjati', sans-serif;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

img {
    height: 125px;
    width: 125px;
}

.main {
    height: 100vh;
    width: 100vw;
}

.login-label {
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: right;
    margin-top: -2px;
    margin-left: -35px;
}

.login-input {
    background-color: #99ccff;
    margin: 5px;
    height: 20px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #167499;
}

.login-top {
    height: 250px;
}

.login-bottom {
    margin-top: 100px;
}

.sign-up-bottom {
    margin-top: 220px;
}

.login-control {
    position: absolute;
}

.login-logo {
    margin: 39% 0 0 5%;
    height: 25%;
    background: url(/images/sounds.png);
    background-size: cover;
    grid-column-start: 2;
}

.login-button {
    padding: 5px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    font-size: 16px;
}

.login-button:hover {
    font-size: 17px;
    transition: all 1s ease;
}

.login-button:active {
    border: 1px solid black;
}

.centered-true {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.grid-col-2 {
    grid-column-start: 2;
    text-align: center;
    height: 100px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.grid-nav {
    display: grid;
    grid-template-columns: 30% 50%;
}



/*GENERAL STYLE*/

.nav {
    position: relative;
    border-right: 2px solid black;
    height: 100vh;
}

.nav-logo-box {
    margin-top: 30px;
    background: blue;
    height: 100px;
}

.nav-logo {
    grid-column-start: 2;
    margin: 10% 0 0 0;
    height: 200px;
    background: url(/images/sounds.png);
    background-size: cover;
}

.list {
    top: 140px;
    font-size: 40px;
    list-style-type: none;
}

.logout {
    position: absolute;
    bottom: 20px;
}

.dashboard {
    overflow: scroll;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 33% 67%;
}

h1 {

    font-size: 50px;
    font-family: 'Dhurjati', sans-serif;
}

.artist-content {
    font-family: 'Padauk', sans-serif;
}

.artist {
    flex: 1;
    font-size: 14px;
}

.dash-top {
    height: 200px;
    background: #167499;
}

.input-library {}

#searchbar {
    height: 30px;
    width: 100%;
    text-align: center;
}

.search-box {
    margin-top: 50px;
}

.choose {
    margin-top: 20px;
    text-align: center;
}

.edit-button {
    color: #167499;
}

.edit-button a:link {
    color: #167499;
}

.edit-button a:visited {
    color: #167499;
}

.edit-button a:hover {
    font-size: 18px;
}

.profile-content {
    font-family: 'Padauk', sans-serif;
    font-size: 17px;
}

#updateAccount input {
    border: 1px solid black;
    padding: 2px;
}

.update-account-submit {
    border: 2px solid black;
}

.search-image {
    height: 25px;
    width: 25px;
    transform: translateY(25%);
}

#addToComments {
    position: relative;
}

#comments {
    resize: none;
    border: .5px solid black;
    padding: 5px;
    height: 100px;
    width: 300px;
    text-align: center;
}

#comments:hover {
    border: 2px solid black;
}