<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sounds</title>
    <link href="https://fonts.googleapis.com/css?family=Dhurjati" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="main">
        <div class="login-top grid-3">
            <div class="login-logo">
            </div>
        </div>
        <div class="grid-3">
            <div class="grid-col-2">
                <!--  -->
                <form action="/users/login" method="POST">
                    <div class="centered-true grid-4">
                        <div>
                            <input id="email" type="text" name="user[email]" placeholder="email" class="login-input">
                            <br>
                            <input id="password" type="password" name="user[password]" placeholder="password" class="login-input">
                            <br>
                        </div>
                    </div>
                    <div class="login-control centered-true login-bottom">
                        <div>
                            <input type="submit" value="Login" class="login-button">
                        </div>
                        <div><a href="/users/register">Sign Up</a></div>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>